:root {
    --fondo: rgb(233, 226, 187);
    --azul: #70acd4;
    --azuloscuro: #074772;
    --azulverde: rgb(132, 191, 196);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: “Helvetica”, arial, sans-serif;
    background-color: var(--fondo);
    font-size: calc(1vw + 1vh + 1.0vmin);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.cabecera {
    width: 99%;
}

h3 {
    text-align: center;
    color: var(--azuloscuro);
}

#producto,
#submit {
    width: 100%;
    margin-bottom: 0.3em;
}

#submit {
    background-color: var(--azul);
    font-size: calc(1vw + 1vh + 1.5vmin);
}

#listaProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.itemproducto {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
    background-color: var(--azulverde);
}

.itemproducto img {
    width: 30px;
    height: 30px;
}

.grupocheck img {
    padding-left: 0.2em;
}

.itemproducto p {
    padding: 0.1em;
    font-size: calc(1vw + 1.5vh + 1.5vmin);
    margin-left: 0.5em;
}

.grupocheck {
    display: flex;
    align-items: center;
}